/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;	
    }
    
    a {
        text-decoration: none;
    }
    
    .offer {
        background: #DBDBDB;
    }
    
    .offer p {
        color: #232323;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 9px 0;
    }

    .navbar-toggler{
        background-color: whitesmoke;
        border: none;	
    }
    
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow:none
    }

    .nav-link {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .navbar-brand {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }  
    
    
    .bannerp {
        color: #FFF;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    
    .bannerheading {
        color: #FFF;
        text-align: center;
        font-family: Romanesco;
        font-size: 160px;
        font-weight: 400;
    }
    
    .bannerp1 {
        color: #FFF;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 37px;
        margin-top: 24px;
    }
    
    .btndisc {
        width: 243px;
        height: 62px;
        margin: auto;
        border-radius: 100px;
        border: 2px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btndisc a {
        color: #FFF;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    
    .trending {
        padding-top: 33px;
    }
    
    .trendrelative {
        background-image: url(../Images/MostWanted.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;        
    }
    
    .trendcont {
        /* padding: 268px 0 268px 41px; */
        position: relative;
        cursor: pointer;
    }
    
    .trendcont h4 {
        color: #FFF;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 7px;
    }
    
    .mb {
        margin-bottom: 17px !important;
    }
    
    .trendcont a {
        text-decoration: none;
        color: #FFF;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .trainer {
        background-image: url(../Images/Trainers_Sportwear.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        margin-bottom: 35px;
    }
    
    .trainercont {
        /* padding: 89px 0 90px 35px; */
        position: relative;
        cursor: pointer;
    }
    
    .trainercont h4 {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .trainercont a {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .holiday {
        background-image: url(../Images/HolidayClothes.png) !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
    
    .padding {
        padding: 40px 0 40px 0;
    }
    
    .trendpad{
        padding: 40px 0 40px 0
    }
    
    button.owl-prev{            
        position: absolute;
        top: 35%;
        left: -30px;
        border: none; 
        background: transparent;
                  
    }

    .owl-prev img{
        width: 15px;
    }
    
    button.owl-next{
        position: absolute;
        right: -22px;
        top: 35%;            
        border: none;
        background: transparent
    }

    .owl-next img{
        width: 15px;
    }
    
    .collection {
        background-image: url(../Images/new_collection.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .collectionpad {
        padding: 187px 0;
    }
    
    .cmntext {
        color: #FFF;
        font-family: Roboto;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4px;
        margin-bottom: 19px;
    }
    
    .collectionpad h3 {
        color: #FFF;
        font-family: Roboto;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 6px;
        margin-bottom: 19px;
    }
    
    .specialwrapper .special {
        color: #E13600;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .refine {
        color: #000 !important;
        margin: 19px 0 !important;
    }
    
    .specialtext {
        width: 423px;
        margin: auto;
        color: #9F9F9F;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
    }
    
    .specialcont p {
        color: #1B1B1B;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 15px;
        margin-bottom: 9px;
    }
    
    .specialcont h6 {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 9px;
        margin-bottom: 30px;
    }
    
    .casualwrap {
        background: url(../Images/casual_basic.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .trendcont div {
        width: 177px;
        height: 62px;
        border-radius: 100px;
        border: 2px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    
    }
    
    .buybtn a {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .nav-tabs {
        --bs-nav-tabs-border-width: none;
    }
    
    a.nav-link {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    a.nav-link.active {
        color: #E13600 !important;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    
    a.nav-link:hover {
        color: #E13600 !important;
        transition: all 0.4s ease-out;
    }
    
    .hovercap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        background: rgba(225, 54, 0, 0.70);
        padding: 12px 0;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .hovercap {
        opacity: 0;
    }
    
    .hoverwrap:hover .hovercap {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s linear;
    }
    
    .hoverwrap img {
        width: 100%;
    }
    
    .trandy-item .trandy-cart:hover {
        opacity: 1;
    }
    
    .arrival-disc {
        margin: 21px 0 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .arrival-disc p {
        color: #CCC;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    
    .items h6 {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
    }
    
    .items p {
        color: #000;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0px;
    }
    
    .loadomore {
        width: 200px;
        margin: auto;
        margin-top: 40px;
        border-radius: 100px;
        border: 2px solid #E13600;
        padding: 18px 0;
    }
    
    .loadomore a {
        color: #E13600;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
    
    .floating {
        background: #1B1B1B;
        padding: 40px 0;
    }
    
    .float-wrapper h5 {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4.2px;
        margin-bottom: 13px;
    }
    
    .float-wrapper p {
        width: 100%;
        max-width: 550px;
        margin: auto;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 13px;
    
    }
    
    .float-wrapper a {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        margin-bottom: 0;
    }
    
    .footer {
        padding: 40px 0 40px 0;
    }
    
    .footer-main a {
        color: #1B1B1B;
        text-align: center;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 10px;
    }
    
    .footer-main p {
        width: 100%;
        max-width: 610px;
        color: #CCC;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 30px;
    }
    
    .footer-contact p {
        color: #919191;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 5px !important;
    }
    
    .footer-contact span {
        color: rgba(120, 204, 54, 0.88);
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }
    
    .footer-links h6 {
        color: #323232;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 8px;
    }
    
    .footer-links li {
        list-style: none;
    }
    
    .footer-links a {
        color: #CCC;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }
    
    .footer-links a:hover {
        color: #323232;
        transition: all 0.4s ease;
    }
    
    .devider {
        height: 1px;
        background: #9F9F9F;
        margin: 22px 0 22px 0;
    }
    
    .copyprigt-main p {
        color: #919191;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }
    
    .copyprigt-main a {
        color: #919191;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        text-decoration-line: underline;
    }
    
    .copyprigt-main a:hover {
        color: #323232;
        transition: all 0.4s ease;
    }
        
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;	
    }
    
    a {
        text-decoration: none;
    }
    
    .offer {
        background: #DBDBDB;
    }
    
    .offer p {
        color: #232323;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 9px 0;
    }

    .navbar-toggler{
        background-color: whitesmoke;
        border: none;	
    }
    
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow:none
    }

    div#navbarNav {
        margin-top: 30px;
    }

    .nav-link {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .navbar-brand {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 23px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }  
    
    
    .bannerp {
        color: #FFF;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    
    .bannerheading {
        color: #FFF;
        text-align: center;
        font-family: Romanesco;
        font-size: 100px;
        font-weight: 400;
    }
    
    .bannerp1 {
        color: #FFF;
        font-family: Roboto;
        font-size: 29px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 37px;
        margin-top: 24px;
    }
    
    .btndisc {
        width: 243px;
        height: 62px;
        margin: auto;
        border-radius: 100px;
        border: 2px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btndisc a {
        color: #FFF;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    
    .trending {
        padding-top: 30px;
    }
    
    .trendrelative {
        background-image: url(../Images/MostWanted.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;        
    }
    
    .trendcont {
        padding: 268px 0 268px 20px;
        position: relative;
        cursor: pointer;
    }
    
    .trendcont h4 {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 7px;
    }
    
    .mb {
        margin-bottom: 17px !important;
    }
    
    .trendcont a {
        text-decoration: none;
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .trainer {
        background-image: url(../Images/Trainers_Sportwear.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;        
    }
    
    .trainercont {
        padding: 89px 0 90px 20px;
        position: relative;
        cursor: pointer;
    }
    
    .trainercont h4 {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .trainercont a {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .holiday {
        background-image: url(../Images/HolidayClothes.png) !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
    
    .padding {
        padding: 40px 0 40px 0;
    }
    
    .trendpad{
        padding: 40px 0 40px 0
    }
    
    button.owl-prev{                 
        position: absolute;
        top: -130%;
        bottom:-100%;
        left: -7%;
        border: none; 
        background: transparent;
        
    }

    .owl-prev img{
        width: 15px;
    }
    
    button.owl-next{
        position: absolute;
        top: -130%;
        bottom:-100%;
        right: -7%;
        border: none; 
        background: transparent;
    }

    .owl-next img{
        width: 15px;
    }
    
    .collection {
        background-image: url(../Images/new_collection.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .collectionpad {
        padding: 187px 0;
    }
    
    .cmntext {
        color: #FFF;
        font-family: Roboto;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4px;
        margin-bottom: 19px;
    }
    
    .collectionpad h3 {
        color: #FFF;
        font-family: Roboto;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 6px;
        margin-bottom: 19px;
    }
    
    .specialwrapper .special {
        color: #E13600;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .refine {
        color: #000 !important;
        margin: 19px 0 !important;
    }
    
    .specialtext {
        width: auto;
        margin: auto;
        color: #9F9F9F;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
    }
    
    .specialcont p {
        color: #1B1B1B;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 15px;
        margin-bottom: 9px;
    }
    
    .specialcont h6 {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 9px;
        margin-bottom: 30px;
    }
    
    .casualwrap {
        background: url(../Images/casual_basic.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .trendcont div {
        width: 177px;
        height: 62px;
        border-radius: 100px;
        border: 2px solid #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    
    }
    
    .buybtn a {
        color: #1B1B1B;
        text-align: center;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .nav-tabs {
        --bs-nav-tabs-border-width: none;
    }
    
    a.nav-link {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    a.nav-link.active {
        color: #E13600 !important;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
    
    a.nav-link:hover {
        color: #E13600 !important;
        transition: all 0.4s ease-out;
    }
    
    .hovercap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        background: rgba(225, 54, 0, 0.70);
        padding: 12px 0;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .hovercap {
        opacity: 0;
    }
    
    .hoverwrap:hover .hovercap {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s linear;
    }
    
    .hoverwrap img {
        width: 100%;
    }
    
    .trandy-item .trandy-cart:hover {
        opacity: 1;
    }
    
    .arrival-disc {
        margin: 21px 0 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .arrival-disc p {
        color: #CCC;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    
    .items h6 {
        color: #1B1B1B;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 10px;
    }
    
    .items p {
        color: #000;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0px;
    }
    
    .loadomore {
        width: 200px;
        margin: auto;
        margin-top: 40px;
        border-radius: 100px;
        border: 2px solid #E13600;
        padding: 18px 0;
    }
    
    .loadomore a {
        color: #E13600;
        text-align: center;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
    
    .floating {
        background: #1B1B1B;
        padding: 40px 0;
    }
    
    .float-wrapper h5 {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4.2px;
        margin-bottom: 13px;
    }
    
    .float-wrapper p {
        width: 100%;
        max-width: 550px;
        margin: auto;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 13px;
    
    }
    
    .float-wrapper a {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        margin-bottom: 0;
    }
    
    .footer {
        padding: 40px 0 40px 0;
    }
    
    .footer-main a {
        color: #1B1B1B;
        text-align: center;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    
    .footer-main p {
        width: 100%;
        max-width: 610px;
        color: #CCC;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin: 20px 0;
    }
    
    .footer-contact p {
        color: #919191;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 5px !important;
    }
    
    .footer-contact span {
        color: rgba(120, 204, 54, 0.88);
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }
    
    .footer-links h6 {
        color: #323232;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 8px;
    }
    
    .footer-links li {
        list-style: none;
    }
    
    .footer-links a {
        color: #CCC;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }
    
    .footer-links a:hover {
        color: #323232;
        transition: all 0.4s ease;
    }
    
    .devider {
        height: 1px;
        background: #9F9F9F;
        margin: 22px 0 22px 0;
    }
    
    .copyprigt-main p {
        color: #919191;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        max-width: 235px;
        margin-left: 0;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .copyprigt-main a {
        color: #919191;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        text-decoration-line: underline;
    }
    
    .copyprigt-main a:hover {
        color: #323232;
        transition: all 0.4s ease;
    }

}

















